<!DOCTYPE html>
<html>
<head>
  <title>proposal</title>
  
  <!-- Latest compiled and minified CSS -->


</head>
<body>
<div class="container">
	UP AT FIVE - Digital Studio
  <%= yield %>

</div>







</body>
</html>