<h1>Editing Project Phase</h1>

<%= render 'form', project_phase: @project_phase %>

<%= link_to 'Show', admin_project_phase_path(@project_phase) %> |
<%= link_to 'Back', admin_project_phases_path %>
