/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'base';
@import 'styles';

.box-potential_new {
	border-top-color: #008d4c;
}

.box-signed {
	border-top-color: #00a7d0;
}

.box-in_progress {
	border-top-color: #357ca5;
}

.box-complete {
	border-top-color: #ff7701;
}

hr {
	border: solid 1px black;
}

.danger {
	color: #d33724;
}

.phase {
	cursor: move;
}