.new_project_wrapper {
.col--half,.col--half-left,.col--half-small,.container,.group{box-sizing:border-box}.radio-block,textarea{border:1px solid #e0e2e4}.attn{font-weight:300;color:#78D18B}.contain-content--left{line-height:28px;width:100%;float:right;padding-right:50px}@media screen and (min-width:1170px){.contain-content--left{max-width:573px}}@media screen and (min-width:960px) and (max-width:1169px){.contain-content--left{max-width:468px}}@media screen and (min-width:768px) and (max-width:959px){.contain-content--left{max-width:372px}}@media screen and (min-width:500px) and (max-width:767px){.contain-content--left{padding-right:0;float:none;box-sizing:border-box;position:relative;width:90%;max-width:1080px;margin:0 auto}}@media screen and (min-width:500px) and (max-width:767px) and (min-width:1170px){.contain-content--left{margin:0 auto}}@media screen and (min-width:500px) and (max-width:767px) and (min-width:960px) and (max-width:1169px){.contain-content--left{margin:0 auto}}@media screen and (min-width:500px) and (max-width:767px) and (min-width:768px) and (max-width:959px){.contain-content--left{margin:0 auto}}@media screen and (min-width:500px) and (max-width:767px) and (max-width:499px){.contain-content--left{margin:0;padding:0 12px}}@media screen and (min-width:500px) and (max-width:767px) and (min-width:500px) and (max-width:767px){.contain-content--left{margin:0;padding:0 12px}}@media screen and (max-width:499px){.contain-content--left{padding-right:0;float:none;box-sizing:border-box;position:relative;width:90%;max-width:1080px;margin:0 auto}}@media screen and (max-width:499px) and (min-width:1170px){.contain-content--left{margin:0 auto}}@media screen and (max-width:499px) and (min-width:960px) and (max-width:1169px){.contain-content--left{margin:0 auto}}@media screen and (max-width:499px) and (min-width:768px) and (max-width:959px){.contain-content--left{margin:0 auto}}@media screen and (max-width:499px) and (max-width:499px){.contain-content--left{margin:0;padding:0 12px}}@media screen and (max-width:499px) and (min-width:500px) and (max-width:767px){.contain-content--left{margin:0;padding:0 12px}}.contain-content--right{line-height:28px;width:100%;padding-left:50px}@media screen and (min-width:1170px){.contain-content--right{max-width:573px}}@media screen and (min-width:960px) and (max-width:1169px){.contain-content--right{max-width:468px}}@media screen and (min-width:768px) and (max-width:959px){.contain-content--right{max-width:372px}}@media screen and (min-width:500px) and (max-width:767px){.contain-content--right{padding-left:0;box-sizing:border-box;position:relative;width:90%;max-width:1080px;margin:0 auto}}@media screen and (min-width:500px) and (max-width:767px) and (min-width:1170px){.contain-content--right{margin:0 auto}}@media screen and (min-width:500px) and (max-width:767px) and (min-width:960px) and (max-width:1169px){.contain-content--right{margin:0 auto}}@media screen and (min-width:500px) and (max-width:767px) and (min-width:768px) and (max-width:959px){.contain-content--right{margin:0 auto}}@media screen and (min-width:500px) and (max-width:767px) and (max-width:499px){.contain-content--right{margin:0;padding:0 12px}}@media screen and (min-width:500px) and (max-width:767px) and (min-width:500px) and (max-width:767px){.contain-content--right{margin:0;padding:0 12px}}@media screen and (max-width:499px){.contain-content--right{padding-left:0;box-sizing:border-box;position:relative;width:90%;max-width:1080px;margin:0 auto}}@media screen and (max-width:499px) and (min-width:1170px){.contain-content--right{margin:0 auto}}@media screen and (max-width:499px) and (min-width:960px) and (max-width:1169px){.contain-content--right{margin:0 auto}}@media screen and (max-width:499px) and (min-width:768px) and (max-width:959px){.contain-content--right{margin:0 auto}}@media screen and (max-width:499px) and (max-width:499px){.contain-content--right{margin:0;padding:0 12px}}@media screen and (max-width:499px) and (min-width:500px) and (max-width:767px){.contain-content--right{margin:0;padding:0 12px}}.container,.group{position:relative;width:90%;max-width:1080px;margin:0 auto}@media screen and (min-width:1170px){.container,.group{margin:0 auto}}@media screen and (min-width:960px) and (max-width:1169px){.container,.group{margin:0 auto}}@media screen and (min-width:768px) and (max-width:959px){.container,.group{margin:0 auto}}@media screen and (max-width:499px){.container,.group{margin:0;padding:0 12px}}@media screen and (min-width:500px) and (max-width:767px){.container,.group{margin:0;padding:0 12px}}.flex-container{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:justify;justify-content:space-between}.col--half{width:41.66667%;margin-left:0;margin-right:8.33333%}.col--half:last-of-type{margin-left:8.33333%;margin-right:0}@media screen and (min-width:500px) and (max-width:767px){.col--half,.col--half:last-of-type{margin-left:0;margin-right:0}.col--half{box-sizing:border-box;width:100%}}@media screen and (max-width:499px){.col--half,.col--half:last-of-type{margin-left:0;margin-right:0}.col--half{box-sizing:border-box;width:100%}}.col--half-left{width:41.66667%;margin-left:8.33333%;margin-right:0}.col--half-left:last-of-type{margin-left:0;margin-right:8.33333%}@media screen and (min-width:500px) and (max-width:767px){.col--half-left,.col--half-left:last-of-type{margin-left:0;margin-right:0}.col--half-left{box-sizing:border-box;width:100%}}@media screen and (max-width:499px){.col--half-left,.col--half-left:last-of-type{margin-left:0;margin-right:0}.col--half-left{box-sizing:border-box;width:100%}}.col--half-small{width:47.91667%;margin-left:0;margin-right:2.08333%}.col--half-small:last-of-type{margin-left:2.08333%;margin-right:0}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:dotted thin}a:active,a:hover{outline:0}h1{font-size:2em}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap;word-wrap:break-word}q{quotes:\201C \201D \2018 \2019}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}.radio-block,.radio-block i,textarea{margin-bottom:20px}button,input{line-height:normal}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}*,.col-fourth,.col-full,.col-half,.col-sixth,.col-third{box-sizing:border-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}table{border-collapse:collapse;border-spacing:0}body,figure{margin:0}button::-moz-focus-inner,input::-moz-focus-inner,legend{border:0;padding:0}.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}.col-full{width:100%}.col-half{width:50%}@media screen and (min-width:500px) and (max-width:767px){.col-half{box-sizing:border-box;width:100%}}@media screen and (max-width:499px){.col-half{box-sizing:border-box;width:100%}}.col-third{width:33.33333%;background:#ffefd5}@media screen and (min-width:500px) and (max-width:767px){.col-third{box-sizing:border-box;width:50%}.col-third:nth-child(3n){box-sizing:border-box;width:100%}}@media screen and (max-width:499px){.col-third{box-sizing:border-box;width:100%}}.col-fourth{width:25%}@media screen and (min-width:768px) and (max-width:959px){.col-fourth{box-sizing:border-box;width:50%}}@media screen and (min-width:500px) and (max-width:767px){.col-fourth{box-sizing:border-box;width:50%}}@media screen and (max-width:499px){.col-fourth{box-sizing:border-box;width:100%}}.col-sixth{width:16.66667%}@media screen and (min-width:768px) and (max-width:959px){.col-sixth{box-sizing:border-box;width:33.33333%}}@media screen and (min-width:500px) and (max-width:767px){.col-sixth{box-sizing:border-box;width:100%}}@media screen and (max-width:499px){.col-sixth{box-sizing:border-box;width:100%}}.row{-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;display:-webkit-flex;-webkit-flex-direction:row;-webkit-flex-wrap:wrap}.col-third:nth-child(2n){background:#0ff}.col-sixth{background:#eee8aa}.col-sixth:nth-child(2n){background:#0f0}body{font-family:'PT Mono',monospace !important}header{background:#F9F9F9;color:#242424;margin-bottom:40px;padding:100px 0}header h2{letter-spacing:1.5px;margin:0;font-size:27px;font-weight:300}.overview{width:20%}.radio-block{-ms-flex:1 0 300px;flex:1 0 300px;margin-right:20px;position:relative;cursor:pointer}.radio-block label{font-weight:700;position:absolute;top:0;left:0;bottom:0;right:0}.radio-block p{font-family:Avenir,Helvetica,sans-serif;font-weight:100;font-size:15px;line-height:20px;letter-spacing:1.2}.radio-block i{display:block;color:#78D18B;font-size:30px}.radio-block .radio-content{padding:20px;height:100%}.radio-block input[type=radio]{visibility:hidden;position:absolute;top:-20px}.radio-block input[type=radio]:checked+.radio-content{background:#e0e2e4}.budget .radio-block{width:25%;-ms-flex-preferred-size:240px;flex-basis:240px}.date .flex-container>div{-ms-flex:1 0 320px;flex:1 0 320px;margin-right:20px}textarea{overflow:auto;vertical-align:top;width:calc(100% - 20px);background:#F9F9F9;margin-right:20px}input[type=submit]{padding:10px 12px;background:#78D18B;color:#fff;border:none;margin-bottom:40px;transition:.3s all ease}input[type=submit]:hover{background:#87d698}input[type=text],input[type=email],input[type=date]{padding:10px 12px;display:block;width:calc(100% - 20px);margin-bottom:20px}label{display:block}section{padding:40px 0}.hidden{display:none}.modal{width:80%;max-width:600px;border:10px solid #78D18B;text-align:center;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);background:#fff}.modal p{padding:60px 0}
/*# sourceMappingURL=maps/styles.css.map */
	body, h1, h2, h3 {
		font-family: 'PT Mono', monospace !important;
		font-weight: bold;
		color: black;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 18px;
	}
	.container {
		padding: 0;
	}
	form.new_project {
		margin: 0 auto;
	}
	#notice {
		font-size: 24px;
		color: black;
		font-weight: bold;
		text-decoration: underline;
		text-decoration-color: #78D18B;
	}
}
/*// @import 'base'
// body
// 	:font-family 'PT Mono', monospace !important

// header 
// 	:background $light-grey
// 	:color $black
// 	:margin-bottom 75px
// 	:padding 100px 0
// 	h2
// 		:font-size 36px
// 		:letter-spacing 1.5px
// 		:font-weight 500
// 		:margin 0	
// 	h2
// 		:font-size 27px	
// 		:margin-bottom 0
// 		:font-weight 300

// form 
// 	:width 80%
// .overview
// 	:width 20%
// 	// :position fixed
// 	// :margin-top 20px	


// .radio-block
// 	:width 30%
// 	:flex-basis 320px
// 	:margin-bottom 30px
// 	:border 1px solid $mid-grey
// 	:position relative
// 	:cursor pointer
// 	label
// 		:font-weight bold
// 		:position absolute
// 		:top 0
// 		:left 0
// 		:bottom 0
// 		:right 0
// 	p 
// 		:font-family $header-font
// 		:font-weight 100
// 		:font-size 15px
// 		:line-height 20px
// 		:letter-spacing 1.2
// 	i 
// 		:display block
// 		:color $green
// 		:font-size 30px
// 		:margin-bottom 20px
// 	.radio-content
// 		:padding 20px	
// 		:height 100%
// 	input[type="radio"]
// 		:visibility hidden
// 		:position absolute
// 		:top -20px
// 		&:checked + .radio-content
// 			:background $mid-grey
// .budget
// 	.radio-block
// 		:width 25%
// 		:flex-basis 240px			

// textarea
// 	:width 100%
// 	:background $light-grey
// 	:border 1px solid $mid-grey
// 	// :border none
// input[type="submit"]	
// 	:margin 60px*/




